h1 {
	text-align: center;
	font-family: Calisto MT, Dotum, Times New Roman;
	font-size: 4em;
	color:#2d2929;
	top: 40 px;
}



.nav {
	border-radius: 1px;
	background-color: #d4d4d4;
	height: 40px;
	width:150px;
	top: 180px;
	right: 0px;
	opacity: 0.5;
}

.titlebar {
	height: 2px;
	width: 70%;
	margin: auto;
	background-color: #2d2929;
	border: 1px solid #2d2929;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 400px;
	background-color: #F4EBC3;
	margin-bottom: 10px;
}

