h1 {
	text-align: center;
	font-family: Calisto MT, Dotum, Times New Roman;
	font-size: 4em;
	color:#2d2929;
	top: 40 px;
}

body {
	height: 80%;
	margin: 0;
	text-align: center;
	width: 100%;
	border:1px solid #185ca0;
}


/* NAV top bar -------------------------------------------------------- */

nav {
  background-color: #FFF;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}

.contact-btn {
  float: right;
}

.contact-btn a {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #185ca0;
  
  position: relative;

}

.contact-btn a:active {
	top: 2px;
}

.contact-btn {
  float: right;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #185ca0;
  text-decoration: none;
}

/* END of Nav bar top link ------------------------------------- */

.nav {
	border-radius: 1px;
	background-color: #d4d4d4;
	height: 40px;
	width:150px;
	top: 180px;
	right: 0px;
	opacity: 0.5;
}

.titlebar {
	height: 2px;
	width: 70%;
	margin: auto;
	background-color: #2d2929;
	border: 1px solid #2d2929;
}

.right {
	float: right;
	margin-top: 50px;
	margin-bottom: 10px;
	width: 88%;
	height: 400px;
	background-color: #F4EBC3;
	top: 180px;
}

