h1 {
	text-align: center;
	font-family: Calisto MT, Dotum, Times New Roman;
	font-size: 4em;
	color:#2d2929;
	top: 20 px;
}
.titlebar {
	height: 2px;
	width: 70%;
	background-color: #2d2929;
	border: 1px solid #2d2929;
	top:110px;
	text-align: center;
}

body {
	height: 80%;
	margin: 0;
	text-align: center;
	width: 100%;
}

/* PINK button ------------- */

.pink-button a {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #185ca0;
  position: relative;
}
.pink-button {
  border-radius: 2px;
  border: 0px;
  color: #185ca0;
  text-shadow: none;
  background-color: #ffffff;
}
.pink-button:hover {
  color: #ffffff;
  background-color: #fce3e6;
}
.pink-button {
  float: right;
}


/* NAV top bar -------------------------------------------------------- */

nav {
  background-color: #FFF;
  font-family: Calisto MT, Dotum, Times New Roman;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
  list-style: none;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #185ca0;
  text-decoration: none;
}

/* END of Nav bar top link ------------------------------------- */


/* NAV side bar ----------------------------*/
.side-nav {
	border-radius: 1px;
	border: 2px solid #185ca0;
	height: 60px;
	width:200px;
	top: 180px;
	right: 0px;
	opacity: 0.5;
}



.side-nav ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #d4d4d4;
}

.side-nav li{
	font-family: Lato;
	color: black;
	border-bottom: 1px solid #185ca0;
	line-height: 45px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
}

.side-nav a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.right {
	float: right;
	margin-top: 50px;
	margin-bottom: 20px;
	width: 70%;
	height: 400px;
	background-color: #FFF;
	border: 1px solid #185ca0;
	top: 180px;
}

